---
import { EditPostForm } from '../../../components/post-form/post-form';
import Seo from '../../../components/seo.astro';
import BaseLayout from '../../../layouts/base-layout.astro';
import { supabase } from '../../../util/supabase.astro';
import err from '../../../util/http-error';

const editKey = Astro.url.searchParams.get('key');
const { postid } = Astro.params;

if (!postid) {
    return err(404);
}

const { data: postInfo, error } = await supabase()
    .from('posts')
    .select()
    .eq('id', postid)
    .single();

if (error || !editKey || editKey !== postInfo?.edit_key) {
    return err(403);
}
---

<Seo title="Edit Post" />
<BaseLayout title="Edit">
    <h1>Edit post</h1>
    <EditPostForm
        client:load
        postId={postInfo.id}
        editKey={editKey}
        postData={postInfo}
    />
</BaseLayout>
