---
import Seo from '../components/seo.astro';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout>
    <Seo
        title="403 forbidden"
        description="You are not authorized to access this page."
    />
    <h1>403 forbidden</h1>
    <p>You are not authorized to access this page.</p>
</BaseLayout>
