---
import Seo from '../components/seo.astro';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout>
    <Seo
        title="404 not found"
        description="The content you were looking for could not be found."
    />
    <h1>404 not found</h1>
    <p>The content you were looking for could not be found.</p>
</BaseLayout>
