---
import Seo from '../components/seo.astro';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout>
    <Seo
        title="500 internal error"
        description="The server ran into an error processing this page."
    />
    <h1>500 internal error</h1>
    <p>The server ran into an error processing this page.</p>
</BaseLayout>
