---
import Seo from '../components/seo.astro';
import BaseLayout from '../layouts/base-layout.astro';
---

<BaseLayout title="About">
    <Seo title="About" description="hi it's markdump"/>
    <p>hi it's markdump</p>
    <p>the markdown hosting website</p>
    <p>
        <a href="https://github.com/rubyr/markdump" target="_blank">
            open source, of course
        </a>
    </p>
</BaseLayout>
