---
import BaseLayout from '../layouts/base-layout.astro';
import { supabase } from '../util/supabase.astro';
import PostList from '../components/post-list.astro';
import Seo from '../components/seo.astro';
const phrases = [
    ['A simpler, better way to share markdown.', 10],
    ['Give me all your private documents.', 1],
    ['Feed me, seymour.', 1],
    ['DOC STUCK! DOC STUCK!!! PLEASE!!! I BEG YOU!!!', 1],
].reduce((acc, ph) => {
    acc.push(...Array(ph[1]).fill(ph[0]));
    return acc;
}, []);
const phrase = phrases[Math.floor(Math.random() * phrases.length)];

const { data: latest, error } = await supabase()
    .from('posts')
    .select('id, title, created_at, tags')
    .eq('unlisted', false)
    .order('created_at', { ascending: false })
    .limit(12);
---

<Seo description="A simpler, better way to share markdown." />
<BaseLayout>
    <small>{phrase}</small>
    <hr />
    <h2>Latest posts</h2>
    <PostList posts={latest} />
</BaseLayout>
