---
import BaseLayout from '../layouts/base-layout.astro';
import NewPostForm from '../components/new-post-form/new-post-form';
import Seo from '../components/seo.astro';
---

<Seo title="New Post"/>
<BaseLayout title="New">
    <h1>New post</h1>
    <NewPostForm client:load />
</BaseLayout>
