<div class="adult-badge">18+</div>

<style>
    .adult-badge {
        background-color: var(--danger);
        color: var(--heading-color);
        padding: calc(var(--spacing-base) / 5) calc(var(--spacing-base) / 3);
        border-radius: var(--border-radius);
        width: fit-content;
        align-self: flex-end;
    }
</style>