---
const { page, _totalPages } = Astro.props;
const getPageURL = (page:number) => {
    const url = new URL(Astro.url);
    url.searchParams.set('p', page.toString());
    return url;
}
const totalPages = Math.min(_totalPages ?? 1, 1);
---
<div class="pagination">
    {page > 0 && <a href={getPageURL(0)}>&lt;&lt;</a>}
    {page > 0 && <a href={getPageURL(page)}>&lt;</a>}
    <p>Page {page + 1} / {totalPages}</p>
    {page < totalPages - 1 && <a href={getPageURL(page+2)}>&gt;</a>}
    {page < totalPages - 1 && <a href={getPageURL(totalPages)}>&gt;&gt;</a>}
</div>

<style>
    .pagination {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 0.5rem;
    }
</style>
