---
import AdultBadge from "./adult-badge.astro";
import TagList from "./tag-list.astro";
import Timestamp from "./timestamp/timestamp";

const { posts } = Astro.props;
---

{
    posts?.length ? (
        <ul class="postList">
            {posts.map((post: { id: any; title: any; created_at: string; tags: string[]; adult_content: boolean }) => (
                <li class="postListing">
                    <div class="left">
                        <span class="title"><a href={`/posts/${post.id}`}>{post.title || 'Untitled'}</a></span>
                        <div>by Anonymous</div>
                        <TagList tags={post.tags} />
                    </div>
                    <div class="right">
                        <Timestamp client:only="preact" time={post.created_at} />
                        {post.adult_content && <AdultBadge/>}
                    </div>
                </li>
            ))}
        </ul>
    ) : (
        <p>(there are no posts. make one?)</p>
    )
}

<style>
    ul.postList {
        width: 100%;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        padding: 0 var(--spacing-base);
        gap: calc(var(--spacing-base) / 2);
    }

    li.postListing {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: var(--spacing-base);

        background: var(--card-bg);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-md);

        box-shadow: var(--shadow);

        span.title {
            width: 100%;

            a {
                width: auto;
            }
        }
        .left, .right {
            display: flex;
            flex-direction: column;
        }
        .right {
            text-align: right;
        }
    }
</style>
