---
import TagList from "./tag-list.astro";
import Timestamp from "./timestamp";

const { posts } = Astro.props;
---

{
    posts?.length ? (
        <ul class="postList">
            {posts.map((post: { id: any; title: any; created_at: string; tags: string[]; }) => (
                <li class="postListing">
                    <a href={`/posts/${post.id}`}># {post.title || 'Untitled'}</a>
                    <div>by Anonymous</div>
                    <div class="timestamp"><Timestamp client:only="preact" time={post.created_at} /></div>
                    <TagList tags={post.tags} />
                </li>
            ))}
        </ul>
    ) : (
        <p>(there are no posts. make one?)</p>
    )
}

<style>
    ul.postList {
        width: 100%;
        display: flex;
        margin-left: 0;
        flex-direction: column;
        padding: 0 var(--spacing-base);
        gap: calc(var(--spacing-base) / 2);
    }

    li.postListing {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        padding: var(--spacing-base);

        background: var(--gradient-primary);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius-md);
    }

    .timestamp {
        color: var(--secondary);
        font-size: calc(var(--font-size-base) * 0.8);
    }
</style>