---
const { tags = [] } = Astro.props;
---

{
    tags?.length ? (
        <ul class="tagList">
            {tags.map((tag: string, i: number) => (
                <span>
                    <a class='tag' href={`/tagged/${tag}/1`}>#{tag}</a>
                </span>
            ))}
        </ul>
    ) : null
}

<style>
    ul.tagList {
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        gap: 2px;
    }
    a.tag {
        color: white;
        background-color: var(--secondary);
        padding: 4px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 0.8em;
    }
    a.tag:hover {
        background-color: white;
        color: var(--secondary);
    }
    a.tag::before {
        /* Hide the classless thing */
        background: none;
    }
</style>
