---
import DocRoot from './doc-root.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
const { title = '' } = Astro.props;
const fullTitle = [title, 'Markdump'].join(' - ');
---

<DocRoot title={fullTitle}>
    <Header />
    <main><slot /></main>
    <Footer />
</DocRoot>

<style is:global>
    body {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
</style>
